*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    gap: 120px;
    background: linear-gradient(#1d3557,#457b9d);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
form{
    width: 100vw;
}
div{
    background-color: #f1faee;
}
